<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ sơ</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <div class="form-page">
        <div class="page-name">
            <h2>Hợp đồng được bồi thường</h2>
        </div>
        <div class="page-p-content">
            <p>A là bố B được ủy quyền nhận tất toán từ bảo hiểm <br>Tổng số tiền được bồi thường là 2.268.000 VND</p>
        </div>
        <div class="page-status">
            <p>Trạng thái: ⌛ <p class="page-p"> Đang chờ</p></p>
        </div>
        <div>
            <form action="">
                <div class="page-input">
                    <input class="page-control" type="text" placeholder="Số hợp đồng">
                </div>
                <div class="page-input">
                    <input class="page-control" type="text" placeholder="Họ tên người nhận">
                </div>
                <div class="page-input">
                    <input class="page-control" type="text" placeholder="Địa chỉ liên hệ">
                </div>
            </form>
        </div>
        <p class="page-p-time">Vui lòng chờ 3-5 phút để hệ thống xác nhận tất toán</p>
    </div>
</body>
</html>