<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảo hiểm y tế</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/responsive.css">

</head>
<body>
    <div class="header">
        <a href="">
            <img src="/images/1.jpg" alt="">
            <img src="/images/2.jpg" alt="">
        </a>
        <a href="" class="hotline-btn">HOTLINE: 1900 0182</a>
        <a href="#login-modal" class="login-btn">Đăng nhập</a>
    </div>
    <div class="insurance">
        <div class="insurance-buttons">
            <div class="column">
                <a href="/form" class="btn-home">
                    <h3>NẠP GỬI TIẾT KIỆM BẢO HIỂM</h3>
                </a>
                <a href="/form" class="btn-home">KỲ HẠN 3 THÁNG</a>
                <a href="/form" class="btn-home">KỲ HẠN 6 THÁNG</a>
                <a href="/form" class="btn-home">KỲ HẠN 12 THÁNG</a>
            </div>
            <div class="column">
                <a href="/form" class="btn-home">
                    <h3>NHẬN TẤT TOÁN BẢO HIỂM</h3>
                </a>
                <a href="/form" class="btn-home">Y TẾ</a>
                <a href="/form" class="btn-home">XÃ HỘI</a>
                <a href="/form" class="btn-home">TAI NẠN</a>
            </div>
        </div>
    </div>

    <div id="login-modal" class="modal">
        <a href="#" class="modal-overlay"></a>
        <div class="modal-content">
            <div class="modal-body">
                <form action="" class="popup">
                    <div class="close-btn" onclick="closePopup(event)">✖</div>
                    <h2>Đăng nhập</h2>
                    <input type="text" name="username" placeholder="Tên đăng nhập" required="">
                    <input type="password" name="password" placeholder="Mật khẩu" required="">
                    <input type="submit" name="login" class="submit" value="Đăng nhập">
                </form>
            </div>
        </div>
    </div>
</body>
</html>