<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Admin</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="main">
        <form action="/admin" method="POST" class="form">
            <div class="form-group">
                <label for="mypw" class="form-lable">Tên Đăng Nhập</label>
                <input type="password" id="mypw" name="oldPassword" required class="from-control" />
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="mypwn" class="form-lable">Mật Khẩu</label>
                <input type="password" id="mypwn" name="newPassword" required class="from-control" />
                <span class="form-message"></span>
            </div>
            <button class="form-submit">Đăng Nhập</button>
        </form>
    </div>
</body>
</html>